.navbar-vertical {
  font-family: 'Kumbh Sans', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: #152259;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: white;
}

.navbar-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  border-bottom: 2px solid white;
  padding-bottom: 3rem;
}

.navbar-logo-img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.navbar-logo {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  white-space: nowrap;
}

.navbar-vertical ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.navbar-vertical ul li {
  margin-bottom: 1rem;
}

.navbar-vertical ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.navbar-vertical ul li a i {
  font-size: 1.3rem;
}

.navbar-vertical ul li a:hover,
.navbar-vertical ul li a.active-link {
  background-color: #509CDB;
}

.main-content {
  margin-left: 300px;
  padding: 25px;
}
