.form-card {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  flex-direction: column; /* organiza Navbar, main e Footer verticalmente */
}

.form-card h2 {
  color: #4F4F4F;
  margin-bottom: 25px;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #509CDB;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-group input {
  margin-right: 10px;
}

.btn-secundary {
  display: block;
  width: 100%;
  background-color: #509CDB;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.btn-secundary:hover {
  background-color: #3a83bf;
  transform: translateY(-2px);
}

.error-text {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}
